<!DOCTYPE html>
<html>
    <head>
        <title>VSVT Bank Dashboard</title>
        <link rel="stylesheet" href="css/page.css" >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <%- include('../partials/head'); %>
    </head>
    <body style="height: 100vh; width: 100vw;">
        <header><%- include('../partials/header'); %></header>
        <div style="padding: 2rem;">
        <div>
            <br/>
            <h3 style="text-align: center;">Bank Branches Overview</h3>
            <br/>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr style="text-align: center;">
                        <th scope="col">Branch ID</th>
                        <th scope="col">Address</th>
                        <th scope="col">Assets</th>
                        <th scope="col">Branch Name</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    <%
                    <!-- console.log(branchData) -->
                    if(branchData?.length!=0){
                        branchData.forEach(function(data){
                    %>
                    <tr style="text-align: center;">
                        <td scope="row"><a href="/bank/<%- data.branch_id %>">00<%- data.branch_id %></a></td>
                        <td><%=data.address %></td>
                        <td>$<%=data.assets %></td>
                        <td><%=data.branch_name %></td>
                    </tr>
                    <%
                    })
                }
                else{
                    console.log("Error");
                }    
                    %>
                </tbody>
            </table>
        </div>
    </div>
        <footer><%- include('../partials/footer'); %></footer>
    </body>
</html>